<?xml version="1.0"?>
<model>
  <name>frugalnav_drone</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author><name>FrugalNav Team</name><email>keclaude810@gmail.com</email></author>
  <description>Holonomic drone driven by /frugalnav/cmd_vel, ground truth on /frugalnav/truth.</description>
</model>
